
data 311 UBCO, regression implemented in Python

assignment 1:

In [3]:
##decleration & data

import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

df = pd.read_csv('possum.csv')
df.head(10)

,rownames,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,C3,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,C5,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,C10,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,C15,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,C23,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,C24,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
6,C26,7,1,Vic,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
7,C27,8,1,Vic,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,C28,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,C31,10,1,Vic,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0

In [4]:
df.describe()

,case,site,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
mean,52.500000,3.625000,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [5]:
df = df.dropna()

df.describe()

,case,site,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,52.762376,3.673267,3.821782,92.730693,56.960396,87.269307,37.049505,68.398020,48.133663,15.050495,27.064356,32.638614
std,30.573894,2.366892,1.915182,3.518714,3.102679,4.196802,1.971681,4.413502,4.060352,1.058643,2.020722,2.727745
min,1.000000,1.000000,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,41.300000,12.800000,22.000000,25.000000
25%,26.000000,1.000000,2.000000,90.700000,55.000000,84.500000,36.000000,64.500000,44.800000,14.400000,25.500000,31.000000
50%,54.000000,4.000000,3.000000,92.900000,56.400000,88.000000,37.000000,67.900000,46.800000,14.900000,27.000000,32.500000
75%,79.000000,6.000000,5.000000,94.800000,58.100000,90.000000,38.000000,72.500000,52.000000,15.700000,28.000000,34.000000
max,104.000000,7.000000,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [6]:
n = df.shape[0]
i = np.random.permutation(n)

train_size = round(0.6*n)
test_size = n - train_size

train = i[:train_size]
test = i[:test_size]

training_data = df.iloc[train]
testing_data = df.iloc[test]

In [7]:
##print(training_data[training_data.columns[4]])
training_data.columns

Index(['rownames', 'case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw',
       'totlngth', 'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [22]:

Models = []

# Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[0]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[1]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[2]])).fit())
# Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[3]])).fit())
# Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[4]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[5]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[6]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[7]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[8]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[9]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[10]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[11]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[12]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[13]])).fit())
Models.append(sm.OLS(training_data['hdlngth'], sm.add_constant(training_data[training_data.columns[14]])).fit())

62    f
26    f
22    f
92    m
79    m
     ..
99    m
33    m
93    m
53    m
81    f
Name: sex, Length: 61, dtype: object